body {
  background-color: #000;
}
.page {
  max-width: 880px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.25;
  color: white;
}