.bigimage {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.bigimage__opened {
  display: block;
}

.bigimage__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bigimage__img {
  max-width: 75vw;
  max-height: 75vh;
  object-fit: contain;
}

.bigimage__close {
  width: 40px;
  cursor: pointer;
  position: absolute;
  top: -45px;
  right: -45px;
  z-index: 3;
}


.bigimage__title {
  font-size: 12px;
  margin: 0;
  position: absolute;
  bottom: -25px;
  left: 0;
  z-index: 4;
  color: #fff;
}

    @media screen and (max-width: 525px) {
      .bigimage__close {
          width: 26px;
          position: absolute;
          top: -26px;
          right: -26px;
      }
  }